<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>问题详情</title>
    <script src="/vue.js"></script>
    <link rel="stylesheet" href="/element/index.css">
    <script src="/element/index.js"></script>
    <script src="/axios.min.js"></script>
    <script src="/qs.min.js"></script>
</head>
<body>
<div id="app">
    <el-menu mode="horizontal" style="margin-bottom: 20px;">
        <el-row type="flex" justify="center">
            <el-col :span="12" style="display: flex;justify-content: space-between">
                <el-menu-item><el-link type="info" href="/">首页</el-link></el-menu-item>
                <div style="display: flex">
                    <el-menu-item v-if="!isLogin"><el-link type="info" href="/login">登录</el-link></el-menu-item>
                    <el-menu-item v-if="!isLogin"><el-link type="info" href="/register">注册</el-link></el-menu-item>
                    <el-menu-item>
                        <el-input placeholder="输入搜索内容" v-model="search">
                            <el-button slot="append" icon="el-icon-search"></el-button>
                        </el-input>
                    </el-menu-item>
                </div>
            </el-col>
        </el-row>
    </el-menu>
    <el-row type="flex" justify="center">
        <el-col :span="12">
            <el-card style="margin-bottom: 20px;">
                <el-page-header  content="详情页面" @back="window.history.back()"></el-page-header>
            </el-card>
            <el-card style="margin-bottom: 20px">
                <h2>{{ question.title }}</h2>
                <p>{{ question.content }}</p>
                <br>
                <div>
                    <el-tag hit >2194</el-tag>
                    <el-button size="small" icon="el-icon-plus">关注问题</el-button>
                </div>
                <el-divider content-position="right">用户 {{ question.publisher }} 于 {{ question.createdDate }} 发布</el-divider>
            </el-card>
            <el-card v-for="comment in comments" v-bind:key="comment.id" style="margin-bottom: 20px;">
                <h3>{{ comment.username }}</h3>
                <p style="color: #8590a6">28 人赞同</p>
                <p>{{ comment.content }}</p>
                <p style="color: #8590a6">发表于 {{ comment.createdDate }}</p>
                <el-divider></el-divider>
                <el-button type="primary" icon="el-icon-arrow-up">赞同 28</el-button>
                <el-button type="primary" icon="el-icon-arrow-down" style="margin-left: 0; margin-right: 20px;"></el-button>
                <el-link icon="el-icon-s-comment" style="font-size: 16px;">7 条评论</el-link>
            </el-card>
            <el-card>
                <el-form>
                    <el-form-item>
                        <el-input type="textarea" :rows="8" v-model="comment" style="margin-bottom: 16px;"></el-input>
                        <el-button type="primary" style="float: right" @click="addComment">发表</el-button>
                    </el-form-item>
                </el-form>
            </el-card>
        </el-col>
    </el-row>
</div>
</body>
<script>
    let app = new Vue({
        el: '#app',
        data: {
            window: window,
            search: '',
            isLogin: false,
            question: {
                id: 0,
                title: '加载中',
                content: '加载中',
                publisher: '',
                createdDate: '',
            },
            comment: '',
            comments: [],
        },
        methods: {
            addComment: function () {
                axios.post('/api/v1/comments', Qs.stringify({
                    content: this.comment,
                    entityId: this.question.id,
                    entityType: 1 // 1 为问题
                })).then(function (response) {
                    if(response.data.code === 200){
                        app.$message.success('评论添加成功')
                        location.reload();
                    }else if(response.data.code === 401){
                        window.location.href="/login";
                    }
                }).catch(function (error) {
                    app.$message.error("未知异常" + error)
                })
            }
        },
        mounted: function () {
            if(document.cookie.includes("ticket")){
                this.isLogin = true;
            }
            this.question.id = document.URL.substring(document.URL.lastIndexOf('/') + 1);
            axios.get('/api/v1/questions/'+this.question.id).then(function (response) {
                if(response.data.code === 200){
                    let data = response.data.data;
                    app.question.title = data.question.title;
                    app.question.content = data.question.content;
                    app.question.createdDate = data.question.createdDate;
                    app.question.publisher = data.question.publisher;
                    app.comments = data.comments;
                    console.log(response.data)
                }else if(response.data.code === 404){
                    // 问题记录不存在, 404
                    window.location.href="/404"
                }
            }).catch(function (error) {
                app.$message.error("未知异常" + error)
            })
        }
    })
</script>
</html>
